* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u4_original.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u13_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u16_original.png");
}

* html .u24_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u24_line.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u25_line.png");
}

* html .u26_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u26_line.png");
}

* html .u27_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u27_line.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u28_line.png");
}

* html .u29_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u29_line.png");
}

* html .u34_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u34_line.png");
}

* html .u35_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u35_line.png");
}

* html .u36_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u36_line.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u37_line.png");
}

* html .u38_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u38_line.png");
}

* html .u43_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u43_line.png");
}

* html .u44_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u44_line.png");
}

* html .u45_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u45_line.png");
}

* html .u46_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u46_line.png");
}

* html .u47_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u47_line.png");
}

* html .u49_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u49_line.png");
}

* html .u115_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u115_original.png");
}

* html .u119_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u119_line.png");
}

* html .u120_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u120_line.png");
}

* html .u121_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u121_line.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u124_original.png");
}

* html .u127_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u127_original.png");
}

* html .u131_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u131_line.png");
}

* html .u132_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u132_original.png");
}

* html .u134_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u134_line.png");
}

* html .u135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u132_original.png");
}

* html .u138_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u138_original.png");
}

* html .u155_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u155_original.png");
}

* html .u159_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u159_original.png");
}

* html .u162_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u162_line.png");
}

* html .u188_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u115_original.png");
}

* html .u192_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u192_line.png");
}

* html .u193_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u193_line.png");
}

* html .u194_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u194_line.png");
}

* html .u195_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u195_line.png");
}

* html .u196_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u159_original.png");
}

* html .u201_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u124_original.png");
}

* html .u204_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u127_original.png");
}

* html .u209_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u138_original.png");
}

* html .u226_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u155_original.png");
}

* html .u230_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u230_line.png");
}

* html .u235_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u235_original.png");
}

* html .u243_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Кабинет_модератора_files/u243_original.png");
}

