body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:485px;
    top:177px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:86px;
}

.u2 {
    position:absolute;
    left:2px;
    top:32px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px
}

.u3_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:50px;
    width:362px;
    height:30px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:368px;
    height:36px;
}

.u4 {
    position:absolute;
    left:2px;
    top:7px;
    width:358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:0px;
    top:50px;
    width:362px;
    height:30px
}

.u5_text {
    position:absolute;
    left:192px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:192px;
    top:59px;
    width:93px;
    height:16px
}

.u6 {
    position:absolute;
    left:16px;
    top:12px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:653px;
    top:59px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:76px;
}

.u9 {
    position:absolute;
    left:2px;
    top:27px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px
}

.u10 {
    position:absolute;
    left:16px;
    top:98px;
    width:997px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:760px;
    top:-2px;
    width:260px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:760px;
    top:-2px;
    width:260px;
    height:30px
}

.u13 {
    position:absolute;
    left:970px;
    top:6px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:791px;
    top:6px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:52px;
    top:212px;
    width:630px;
    height:75px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:81px;
}

.u16 {
    position:absolute;
    left:2px;
    top:30px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:52px;
    top:212px;
    width:630px;
    height:75px
}

.u17 {
    position:absolute;
    left:60px;
    top:219px;
    width:612px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:501px;
    top:334px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:226px;
    top:329px;
    width:249px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#00CC00;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text {
    position:absolute;
    left:300px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:300px;
    top:59px;
    width:60px;
    height:16px
}

.u21_text {
    position:absolute;
    left:99px;
    top:59px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:99px;
    top:59px;
    width:71px;
    height:16px
}

.u22_text {
    position:absolute;
    left:536px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:536px;
    top:59px;
    width:93px;
    height:16px
}

.u23_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:7px;
    top:54px;
    width:78px;
    height:34px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:40px;
}

.u24 {
    position:absolute;
    left:2px;
    top:9px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:7px;
    top:54px;
    width:78px;
    height:34px
}

.u25 {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_original {
    background-image: url('../Одобрение_заявки_от_СЗ_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:497px;
    width:1020px;
    height:127px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:133px;
}

.u27 {
    position:absolute;
    left:2px;
    top:56px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:497px;
    width:1020px;
    height:127px
}

.u28 {
    position:absolute;
    left:169px;
    top:554px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:233px;
    top:554px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:302px;
    top:554px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:385px;
    top:554px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:169px;
    top:583px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:287px;
    top:583px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:374px;
    top:583px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:16px;
    top:516px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:169px;
    top:524px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:243px;
    top:524px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:323px;
    top:524px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_text {
    position:absolute;
    left:383px;
    top:59px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:383px;
    top:59px;
    width:121px;
    height:16px
}

