body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../ВУЗам_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:115px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:121px;
}

.u1 {
    position:absolute;
    left:2px;
    top:50px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:115px
}

.u2 {
    position:absolute;
    left:16px;
    top:18px;
    width:199px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:814px;
    top:134px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:17px;
    top:58px;
    width:800px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:66px;
    top:220px;
    width:737px;
    height:420px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:64px;
    top:124px;
    width:154px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_text {
    position:absolute;
    left:67px;
    top:179px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:67px;
    top:179px;
    width:86px;
    height:16px
}

.u8_text {
    position:absolute;
    left:171px;
    top:179px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:171px;
    top:179px;
    width:62px;
    height:16px
}

.u9 {
    position:absolute;
    left:251px;
    top:179px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_text {
    position:absolute;
    left:322px;
    top:179px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:322px;
    top:179px;
    width:174px;
    height:16px
}

.u11_text {
    position:absolute;
    left:510px;
    top:179px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:510px;
    top:179px;
    width:86px;
    height:16px
}

.u12_text {
    position:absolute;
    left:610px;
    top:134px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:610px;
    top:134px;
    width:158px;
    height:16px
}

