* html .u4_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u4_line.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u5_original.png");
}

* html .u9_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u11_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u13_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u18_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u33_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u33_hover.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u33_original.png");
}

* html .u35_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u37_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u37_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u42_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u57_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u59_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u69_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u69_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u71_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u71_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u73_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u73_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u78_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u93_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u93_original.png");
}

* html .u100_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u100_original.png");
}

* html .u102_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u104_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u109_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u109_original.png");
}

* html .u126_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u100_original.png");
}

* html .u128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u128_original.png");
}

* html .u130_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u135_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u152_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u152_original.png");
}

* html .u154_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u154_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u156_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u156_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u161_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u161_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u178_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u178_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u100_original.png");
}

* html .u180_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u180_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u182_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u182_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u187_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u187_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u203_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u203_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u205_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u152_original.png");
}

* html .u207_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u207_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u212_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u212_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u227_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u227_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u229_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u229_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u231_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u231_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u236_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u236_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u251_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u251_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u253_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u253_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u263_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u263_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u265_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u265_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u267_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u267_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u272_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u272_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u287_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u93_original.png");
}

* html .u292_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u292_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u294_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u294_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u296_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u296_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u301_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u301_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u316_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u316_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u100_original.png");
}

* html .u318_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u318_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u320_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u320_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u325_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u325_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u340_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u340_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u342_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u342_hover.png");
}

* html .u342_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u342_original.png");
}

* html .u352_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u352_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u354_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u354_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u356_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u356_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u361_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u361_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u376_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u93_original.png");
}

* html .u382_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u382_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u384_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u384_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u386_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u386_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u391_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u391_original.png");
}

* html .u406_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u406_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u408_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u408_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u410_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u410_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u415_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u415_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u430_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u430_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u432_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u432_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u442_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u442_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u444_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u444_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u446_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u446_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u451_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u451_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u466_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u93_original.png");
}

* html .u474_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u474_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u476_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u476_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u478_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u478_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u483_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u483_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u498_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u498_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u100_original.png");
}

* html .u500_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u500_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u502_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u502_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u507_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u507_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u522_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u522_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u524_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u524_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_original.png");
}

* html .u534_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u534_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u536_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u536_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u538_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_hover.png");
}

* html .u538_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u9_original.png");
}

* html .u543_hover {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u11_hover.png");
}

* html .u543_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u35_original.png");
}

* html .u558_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u93_original.png");
}

* html .u571_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u571_line.png");
}

* html .u572_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u572_line.png");
}

* html .u573_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u573_line.png");
}

* html .u574_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u574_line.png");
}

* html .u575_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u575_line.png");
}

* html .u576_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u576_line.png");
}

* html .u577_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u577_line.png");
}

* html .u578_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u578_line.png");
}

* html .u584_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u584_line.png");
}

* html .u585_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u585_line.png");
}

* html .u586_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u586_line.png");
}

* html .u587_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u587_line.png");
}

* html .u588_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u588_line.png");
}

* html .u589_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u589_line.png");
}

* html .u590_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u590_line.png");
}

* html .u591_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u591_line.png");
}

* html .u592_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u592_line.png");
}

* html .u593_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u593_original.png");
}

* html .u595_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u595_original.png");
}

* html .u597_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u597_original.png");
}

* html .u604_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u604_original.png");
}

* html .u607_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u607_original.png");
}

* html .u613_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Оповещения_П_files/u613_original.png");
}

