* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u6_line.png");
}

* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u9_original.png");
}

* html .u20_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u20_line.png");
}

* html .u25_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u25_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u27_original.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u33_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u36_original.png");
}

* html .u45_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u45_line.png");
}

* html .u47_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u47_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u50_original.png");
}

* html .u53_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Чтение_заявки_на_проект_от_СЗ_files/u53_original.png");
}

