body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Запросы_на_ресурсы_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px
}

.u2_original {
    background-image: url('../Запросы_на_ресурсы_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:50px;
    width:573px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:579px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:569px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:50px;
    width:573px;
    height:30px
}

.u4_original {
    background-image: url('../Запросы_на_ресурсы_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:731px;
    top:54px;
    width:113px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:9px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:731px;
    top:54px;
    width:113px;
    height:34px
}

.u6_text {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px
}

.u7_text {
    position:absolute;
    left:184px;
    top:59px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:184px;
    top:59px;
    width:88px;
    height:16px
}

.u8_text {
    position:absolute;
    left:405px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:405px;
    top:59px;
    width:93px;
    height:16px
}

.u9_text {
    position:absolute;
    left:598px;
    top:59px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:598px;
    top:59px;
    width:121px;
    height:16px
}

.u10 {
    position:absolute;
    left:17px;
    top:12px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:854px;
    top:59px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../Запросы_на_ресурсы_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:76px;
}

.u13 {
    position:absolute;
    left:2px;
    top:27px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px
}

.u14_original {
    background-image: url('../Запросы_на_ресурсы_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:743px;
    top:-2px;
    width:277px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:283px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:743px;
    top:-2px;
    width:277px;
    height:30px
}

.u16 {
    position:absolute;
    left:970px;
    top:6px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:772px;
    top:6px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_text {
    position:absolute;
    left:506px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:506px;
    top:59px;
    width:60px;
    height:16px
}

.u19_text {
    position:absolute;
    left:96px;
    top:59px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:96px;
    top:59px;
    width:74px;
    height:16px
}

.u20 {
    position:absolute;
    left:741px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:38px;
    top:183px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:221px;
    top:183px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:38px;
    top:256px;
    width:456px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_text {
    position:absolute;
    left:38px;
    top:290px;
    width:633px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:38px;
    top:290px;
    width:633px;
    height:20px
}

.u25 {
    position:absolute;
    left:38px;
    top:311px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:672px;
    top:292px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:38px;
    top:237px;
    width:383px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:38px;
    top:204px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:419px;
    top:237px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../Запросы_на_ресурсы_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:22px;
    top:348px;
    width:990px;
    height:364px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:370px;
}

.u31 {
    position:absolute;
    left:2px;
    top:174px;
    width:986px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:22px;
    top:348px;
    width:990px;
    height:364px
}

.u32 {
    position:absolute;
    left:22px;
    top:183px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:22px;
    top:237px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:22px;
    top:292px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_original {
    background-image: url('../Запросы_на_ресурсы_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:181px;
    top:735px;
    width:20px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:181px;
    top:735px;
    width:20px;
    height:20px
}

.u37 {
    position:absolute;
    left:38px;
    top:737px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:755px;
    top:737px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:865px;
    top:734px;
    width:44px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:922px;
    top:737px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_original {
    background-image: url('../Запросы_на_ресурсы_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:809px;
    width:1020px;
    height:151px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:157px;
}

.u42 {
    position:absolute;
    left:2px;
    top:68px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:809px;
    width:1020px;
    height:151px
}

.u43 {
    position:absolute;
    left:169px;
    top:866px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:233px;
    top:866px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:302px;
    top:866px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:385px;
    top:866px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:473px;
    top:866px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:553px;
    top:866px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:634px;
    top:866px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:169px;
    top:895px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:287px;
    top:895px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:374px;
    top:895px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:828px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:169px;
    top:836px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:243px;
    top:836px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:323px;
    top:836px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:169px;
    top:925px;
    width:191px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:15px;
    top:103px;
    width:346px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_text {
    position:absolute;
    left:17px;
    top:89px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:17px;
    top:89px;
    width:116px;
    height:16px
}

.u60_text {
    position:absolute;
    left:289px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:289px;
    top:59px;
    width:93px;
    height:16px
}

.u61_original {
    background-image: url('../Запросы_на_ресурсы_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:16px;
    top:140px;
    width:541px;
    height:24px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:547px;
    height:30px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:537px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:140px;
    width:541px;
    height:24px
}

.u63_text {
    position:absolute;
    left:36px;
    top:144px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:36px;
    top:144px;
    width:112px;
    height:16px
}

.u64_text {
    position:absolute;
    left:169px;
    top:144px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:169px;
    top:144px;
    width:112px;
    height:16px
}

