* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u20_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u27_original.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u29_original.png");
}

* html .u31_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u31_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u36_original.png");
}

* html .u46_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u46_line.png");
}

* html .u47_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u47_line.png");
}

* html .u48_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u48_line.png");
}

* html .u49_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u49_line.png");
}

* html .u50_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u50_line.png");
}

* html .u51_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u51_line.png");
}

* html .u52_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u52_line.png");
}

* html .u55_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u55_line.png");
}

* html .u56_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u56_line.png");
}

* html .u57_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u57_line.png");
}

* html .u58_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u58_line.png");
}

* html .u59_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u59_line.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u60_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u68_original.png");
}

* html .u89_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Поиск_по_проектам_files/u89_line.png");
}

