body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:19px;
    top:519px;
    width:629px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:19px;
    top:497px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:18px;
    top:306px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:18px;
    top:328px;
    width:630px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:19px;
    top:409px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:18px;
    top:431px;
    width:630px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:18px;
    top:360px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:18px;
    top:463px;
    width:630px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:18px;
    top:637px;
    width:630px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:19px;
    top:693px;
    width:629px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:19px;
    top:671px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:19px;
    top:811px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:19px;
    top:881px;
    width:629px;
    height:110px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:19px;
    top:859px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:18px;
    top:999px;
    width:630px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:19px;
    top:1034px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:174px;
    top:1029px;
    width:138px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_line {
    background-image: url('../Новая_заявка_на_проект_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:19px;
    top:1081px;
    width:1001px;
    height:3px;
}

.u17 {
    position:absolute;
    left:19px;
    top:1081px;
    width:1001px;
    height:3px
}

.u18 {
    position:absolute;
    left:265px;
    top:1108px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:445px;
    top:1113px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:605px;
    top:1113px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../Новая_заявка_на_проект_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:18px;
    top:180px;
    width:630px;
    height:75px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:81px;
}

.u22 {
    position:absolute;
    left:2px;
    top:30px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:18px;
    top:180px;
    width:630px;
    height:75px
}

.u23 {
    position:absolute;
    left:26px;
    top:187px;
    width:612px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../Новая_заявка_на_проект_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:32px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px
}

.u26_original {
    background-image: url('../Новая_заявка_на_проект_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:50px;
    width:573px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:579px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:569px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:50px;
    width:573px;
    height:30px
}

.u28_text {
    position:absolute;
    left:184px;
    top:59px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:184px;
    top:59px;
    width:86px;
    height:16px
}

.u29 {
    position:absolute;
    left:17px;
    top:12px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:863px;
    top:59px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../Новая_заявка_на_проект_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:743px;
    top:-2px;
    width:277px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:283px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:743px;
    top:-2px;
    width:277px;
    height:30px
}

.u33 {
    position:absolute;
    left:970px;
    top:6px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_original {
    background-image: url('../Новая_заявка_на_проект_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:76px;
}

.u35 {
    position:absolute;
    left:2px;
    top:27px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px
}

.u36 {
    position:absolute;
    left:16px;
    top:106px;
    width:389px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:772px;
    top:6px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_text {
    position:absolute;
    left:506px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:506px;
    top:59px;
    width:60px;
    height:16px
}

.u39_text {
    position:absolute;
    left:96px;
    top:59px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:96px;
    top:59px;
    width:74px;
    height:16px
}

.u40_original {
    background-image: url('../Новая_заявка_на_проект_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:1193px;
    width:1020px;
    height:151px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:157px;
}

.u41 {
    position:absolute;
    left:2px;
    top:68px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:0px;
    top:1193px;
    width:1020px;
    height:151px
}

.u42 {
    position:absolute;
    left:169px;
    top:1250px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:233px;
    top:1250px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:302px;
    top:1250px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:385px;
    top:1250px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:473px;
    top:1250px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:553px;
    top:1250px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:634px;
    top:1250px;
    width:44px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:169px;
    top:1279px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:287px;
    top:1279px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:374px;
    top:1279px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:16px;
    top:1212px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:169px;
    top:1220px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:243px;
    top:1220px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:323px;
    top:1220px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:169px;
    top:1309px;
    width:191px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_text {
    position:absolute;
    left:405px;
    top:59px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:405px;
    top:59px;
    width:82px;
    height:16px
}

.u58_text {
    position:absolute;
    left:750px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:750px;
    top:59px;
    width:93px;
    height:16px
}

.u59_text {
    position:absolute;
    left:289px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:289px;
    top:59px;
    width:93px;
    height:16px
}

.u60 {
    position:absolute;
    left:19px;
    top:276px;
    width:221px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_original {
    background-image: url('../Новая_заявка_на_проект_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:9px;
    top:54px;
    width:73px;
    height:34px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:40px;
}

.u62 {
    position:absolute;
    left:2px;
    top:9px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:9px;
    top:54px;
    width:73px;
    height:34px
}

.u63 {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_text {
    position:absolute;
    left:598px;
    top:59px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:598px;
    top:59px;
    width:121px;
    height:16px
}

.u65_text {
    position:absolute;
    left:17px;
    top:92px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:17px;
    top:92px;
    width:166px;
    height:16px
}

.u66 {
    position:absolute;
    left:343px;
    top:1027px;
    width:251px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

