body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:18px;
    top:210px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:18px;
    top:232px;
    width:630px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:19px;
    top:312px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:18px;
    top:334px;
    width:630px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:18px;
    top:264px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:18px;
    top:365px;
    width:630px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:18px;
    top:631px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:18px;
    top:609px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:19px;
    top:401px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:18px;
    top:423px;
    width:512px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:18px;
    top:455px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:19px;
    top:504px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:18px;
    top:526px;
    width:512px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:18px;
    top:558px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:19px;
    top:677px;
    width:209px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:18px;
    top:699px;
    width:630px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:18px;
    top:330px;
    width:629px;
    height:345px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:18px;
    top:307px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:17px;
    top:682px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:18px;
    top:743px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:173px;
    top:806px;
    width:138px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_line {
    background-image: url('../Редактируем_ресурс_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:18px;
    top:859px;
    width:1001px;
    height:3px;
}

.u26 {
    position:absolute;
    left:18px;
    top:859px;
    width:1001px;
    height:3px
}

.u27_original {
    background-image: url('../Редактируем_ресурс_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:18px;
    top:0px;
    width:628px;
    height:280px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:634px;
    height:286px;
}

.u28 {
    position:absolute;
    left:2px;
    top:100px;
    width:624px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:18px;
    top:0px;
    width:628px;
    height:280px
}

.u29 {
    position:absolute;
    left:390px;
    top:886px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:604px;
    top:890px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:527px;
    top:890px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:174px;
    top:743px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:173px;
    top:771px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:317px;
    top:743px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:252px;
    top:743px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:348px;
    top:771px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:283px;
    top:771px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:343px;
    top:804px;
    width:251px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:18px;
    top:33px;
    width:629px;
    height:345px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:18px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:17px;
    top:385px;
    width:630px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:18px;
    top:441px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:173px;
    top:507px;
    width:138px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_line {
    background-image: url('../Редактируем_ресурс_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:18px;
    top:560px;
    width:1001px;
    height:3px;
}

.u44 {
    position:absolute;
    left:18px;
    top:560px;
    width:1001px;
    height:3px
}

.u45 {
    position:absolute;
    left:390px;
    top:588px;
    width:108px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:604px;
    top:592px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:16px;
    top:615px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:527px;
    top:592px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:174px;
    top:441px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:173px;
    top:469px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:317px;
    top:441px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:252px;
    top:441px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:348px;
    top:469px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:283px;
    top:469px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:343px;
    top:505px;
    width:251px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_text {
    position:absolute;
    left:18px;
    top:731px;
    width:463px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:18px;
    top:731px;
    width:463px;
    height:15px
}

.u57_original {
    background-image: url('../Редактируем_ресурс_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:86px;
}

.u58 {
    position:absolute;
    left:2px;
    top:32px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:1020px;
    height:80px
}

.u59_original {
    background-image: url('../Редактируем_ресурс_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:543px;
    top:54px;
    width:87px;
    height:34px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:93px;
    height:40px;
}

.u60 {
    position:absolute;
    left:2px;
    top:9px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:543px;
    top:54px;
    width:87px;
    height:34px
}

.u61_original {
    background-image: url('../Редактируем_ресурс_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:50px;
    width:390px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:396px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:0px;
    top:50px;
    width:390px;
    height:30px
}

.u63_text {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:17px;
    top:59px;
    width:60px;
    height:16px
}

.u64_text {
    position:absolute;
    left:412px;
    top:59px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:412px;
    top:59px;
    width:121px;
    height:16px
}

.u65 {
    position:absolute;
    left:16px;
    top:12px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:644px;
    top:59px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_original {
    background-image: url('../Редактируем_ресурс_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:76px;
}

.u68 {
    position:absolute;
    left:2px;
    top:27px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:0px;
    top:81px;
    width:1020px;
    height:70px
}

.u69_text {
    position:absolute;
    left:327px;
    top:59px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:327px;
    top:59px;
    width:58px;
    height:16px
}

.u70_original {
    background-image: url('../Редактируем_ресурс_files/u70_original.png');
}

.u70_container {
    position:absolute;
    left:682px;
    top:-2px;
    width:338px;
    height:30px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:344px;
    height:36px;
}

.u71 {
    position:absolute;
    left:2px;
    top:7px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:682px;
    top:-2px;
    width:338px;
    height:30px
}

.u72 {
    position:absolute;
    left:970px;
    top:6px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:708px;
    top:6px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_text {
    position:absolute;
    left:202px;
    top:59px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:202px;
    top:59px;
    width:93px;
    height:16px
}

.u75 {
    position:absolute;
    left:556px;
    top:59px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:15px;
    top:106px;
    width:373px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_text {
    position:absolute;
    left:17px;
    top:92px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:17px;
    top:92px;
    width:116px;
    height:16px
}

.u78_text {
    position:absolute;
    left:134px;
    top:92px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:134px;
    top:92px;
    width:97px;
    height:16px
}

.u79_text {
    position:absolute;
    left:234px;
    top:92px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:234px;
    top:92px;
    width:125px;
    height:16px
}

.u80 {
    position:absolute;
    left:19px;
    top:178px;
    width:221px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_original {
    background-image: url('../Редактируем_ресурс_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:1858px;
    width:1020px;
    height:127px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1026px;
    height:133px;
}

.u82 {
    position:absolute;
    left:2px;
    top:56px;
    width:1016px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:0px;
    top:1858px;
    width:1020px;
    height:127px
}

.u83 {
    position:absolute;
    left:169px;
    top:1915px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:233px;
    top:1915px;
    width:78px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:315px;
    top:1915px;
    width:95px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:412px;
    top:1915px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:169px;
    top:1944px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:287px;
    top:1944px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:374px;
    top:1944px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:16px;
    top:1877px;
    width:136px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:169px;
    top:1885px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:243px;
    top:1885px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:323px;
    top:1885px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:97px;
    top:59px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

