* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u22_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u24_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u36_original.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u38_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u40_original.png");
}

* html .u45_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u45_original.png");
}

* html .u53_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u53_line.png");
}

* html .u54_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u54_line.png");
}

* html .u55_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u55_line.png");
}

* html .u56_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u56_line.png");
}

* html .u57_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u57_line.png");
}

* html .u58_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u58_line.png");
}

* html .u59_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u59_line.png");
}

* html .u62_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u62_line.png");
}

* html .u63_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u63_line.png");
}

* html .u64_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u64_line.png");
}

* html .u65_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u65_line.png");
}

* html .u66_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u66_line.png");
}

* html .u67_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u67_original.png");
}

* html .u75_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u75_original.png");
}

* html .u96_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Проекты_по_категориям_files/u96_line.png");
}

