* html .u9_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u9_original.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u11_original.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u13_original.png");
}

* html .u21_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u48_original.png");
}

* html .u50_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u50_line.png");
}

* html .u51_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u51_line.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u48_original.png");
}

* html .u54_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u54_line.png");
}

* html .u55_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u48_original.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u60_original.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u64_original.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u66_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u68_original.png");
}

* html .u73_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u73_original.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u76_original.png");
}

* html .u85_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u85_original.png");
}

* html .u108_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u108_original.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u118_original.png");
}

* html .u145_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u145_line.png");
}

* html .u146_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u146_line.png");
}

* html .u148_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u148_original.png");
}

* html .u153_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u153_original.png");
}

* html .u155_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u153_original.png");
}

* html .u157_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u157_original.png");
}

* html .u159_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u159_original.png");
}

* html .u161_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u161_original.png");
}

* html .u166_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u166_line.png");
}

* html .u167_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u167_line.png");
}

* html .u168_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u175_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u193_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u193_original.png");
}

* html .u195_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u195_original.png");
}

* html .u197_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u200_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u204_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u204_original.png");
}

* html .u233_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u233_original.png");
}

* html .u257_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u148_original.png");
}

* html .u262_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u153_original.png");
}

* html .u264_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u157_original.png");
}

* html .u266_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u157_original.png");
}

* html .u268_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u159_original.png");
}

* html .u270_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u161_original.png");
}

* html .u277_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u277_line.png");
}

* html .u278_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u278_line.png");
}

* html .u279_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u279_line.png");
}

* html .u280_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u280_line.png");
}

* html .u283_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u290_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u21_original.png");
}

* html .u301_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u193_original.png");
}

* html .u303_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u195_original.png");
}

* html .u305_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u308_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u312_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u204_original.png");
}

* html .u340_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u193_original.png");
}

* html .u342_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u195_original.png");
}

* html .u344_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u347_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u351_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u204_original.png");
}

* html .u360_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u360_original.png");
}

* html .u362_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u362_line.png");
}

* html .u363_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u363_line.png");
}

* html .u364_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u364_line.png");
}

* html .u365_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u365_line.png");
}

* html .u368_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u370_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u370_original.png");
}

* html .u372_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u372_line.png");
}

* html .u373_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u373_line.png");
}

* html .u374_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u374_line.png");
}

* html .u375_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u375_line.png");
}

* html .u378_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u380_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u380_line.png");
}

* html .u381_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u381_original.png");
}

* html .u383_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u383_line.png");
}

* html .u384_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u384_line.png");
}

* html .u385_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u385_line.png");
}

* html .u389_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u389_line.png");
}

* html .u394_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u360_original.png");
}

* html .u396_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u396_line.png");
}

* html .u397_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u397_line.png");
}

* html .u398_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u398_line.png");
}

* html .u399_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u399_line.png");
}

* html .u402_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u404_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u370_original.png");
}

* html .u406_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u406_line.png");
}

* html .u407_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u407_line.png");
}

* html .u408_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u408_line.png");
}

* html .u409_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u409_line.png");
}

* html .u412_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u414_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u414_line.png");
}

* html .u415_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u381_original.png");
}

* html .u417_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u417_line.png");
}

* html .u418_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u418_line.png");
}

* html .u419_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u419_line.png");
}

* html .u425_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u360_original.png");
}

* html .u427_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u427_line.png");
}

* html .u428_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u428_line.png");
}

* html .u429_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u429_line.png");
}

* html .u430_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u430_line.png");
}

* html .u433_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u435_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u370_original.png");
}

* html .u437_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u437_line.png");
}

* html .u438_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u438_line.png");
}

* html .u439_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u439_line.png");
}

* html .u440_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u440_line.png");
}

* html .u443_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u368_original.png");
}

* html .u445_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u445_line.png");
}

* html .u446_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u381_original.png");
}

* html .u448_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u448_line.png");
}

* html .u449_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u449_line.png");
}

* html .u450_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u450_line.png");
}

* html .u455_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u455_original.png");
}

* html .u459_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u153_original.png");
}

* html .u467_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u193_original.png");
}

* html .u469_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u195_original.png");
}

* html .u471_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u474_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u197_original.png");
}

* html .u478_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Мой_проект__РП__files/u204_original.png");
}

